<?xml version="1.0" encoding="UTF-8" ?>
<plugin>
    <author>Ignite Realtime</author>
    <class>org.ifsoft.webinar.openfire.PluginImpl</class>
    <name>Webinar</name>
    <description>Webinar Plugin for Openfire Meetings</description>
    <licenseType>Apache 2.0</licenseType>
    <version>0.0.2</version>
    <date>03/21/2020</date>
    <minServerVersion>4.0.0</minServerVersion>

   <adminconsole>
        <tab id="tab-webclients"  name="${admin.sidebar.webclients.name}" description="${admin.sidebar.webclients.description}" url="webinar.jsp">
            <sidebar id="siderbar-webinar" name="${plugin.title}" description="${plugin.title.description}" >
                <item id="webinar-settings" name="${config.page.settings}" description="${config.page.settings.description}" url="webinar.jsp"/>
            </sidebar>
        </tab>
    </adminconsole> 
</plugin>
